.layout_question_list_recent_answers > ul, .layout_question_list_recent_questions > ul, .layout_question_list_point > ul, .layout_user_list_most_answered > ul, .layout_user_list_most_popular > ul, .layout_question_list_top_users ul, .layout_question_list_relevance_questions > ul { +rounded; +foreground; padding:5px; margin-bottom:15px;}
.layout_question_list_recent_answers > ul > li, .layout_question_list_recent_questions > ul > li, .layout_question_list_point > ul > li, .layout_user_list_most_answered > ul > li, .layout_user_list_most_popular > ul > li, .layout_question_list_top_users ul li, .layout_question_list_relevance_questions ul li { clear:both; overflow:hidden; padding:3px 5px;}

ul.qa_browse {margin:0;  margin-bottom:15px; }
ul.qa_browse > li{padding:15px 10px; clear:both;display:block;}
ul.qa_browse > li + li, .layout_question_ge_addon ul.qa_browse{ border-top-width:1px;}
ul.qa_browse li > h3 {margin-bottom:0;}
.icon_question_new + ul.qa_browse{ margin-top:10px; padding-top:10px}
.qa_question_body {margin-bottom:20px; position:relative;}
.qa_question_body .qa_browse_info{overflow: hidden; padding-left: 12px;}
ul.qa_browse > li .qa_browse_info .qa_title{font-size: 14px;}
.qa_question_body .qa_title{margin: 5px 0; font-size: 1.1em}
.qa_browse_photo {float:left; width:50px; display:table-cell; overflow:hidden; text-align:right; vertical-align:bottom;}
.qa_question_body .qa_browse_photo{height: auto;}
.qa_browse_photo span span {font-size:11px; display:none}
.qa_browse_photo span span em {+rounded; background:none repeat scroll 0 0 #777;color:#FFF;font-style:normal; padding:1px 3px; cursor: default; display:none}
.qa_browse_info {padding:0 0 0 6px; overflow: hidden;}
.layout_page_question_index_view .qa_browse .qa_browse_info,
#global_page_question-moderation-index .qa_browse .qa_browse_info{position: relative;}
#global_page_question-moderation-index .qa_browse_info{min-height: 130px;}
#global_page_question-moderation-index .qa_browse .qa_browse_info .manage_addition_menu{margin-top: 0}
.qa_browse_info span.qa_title_descr{margin-bottom:10px; display:block;}
div.layout_user_list_most_answered ul li .qa_browse_photo, .layout_user_list_most_popular ul li div.qa_browse_photo, .layout_question_list_recent_answers ul li div.qa_browse_photo, .layout_question_list_recent_questions ul li div.qa_browse_photo{margin-right:8px}
div.layout_user_list_most_answered ul li div.qa_browse_info, .layout_user_list_most_popular ul li div.qa_browse_info, .layout_question_list_recent_answers ul li div.qa_browse_info, .layout_question_list_recent_questions ul li div.qa_browse_info{overflow: visible!important; padding:0}
div.layout_user_list_most_answered br, div.layout_user_list_most_popular br, div.layout_question_list_recent_answers br, div.layout_question_list_recent_questions br {clear:none}
#global_page_question-index-create input#title, #global_page_question-index-edit input#title {width:400px}
#global_page_question-moderation-index #global_content{position: relative;}
#global_page_question-moderation-index .qa_question_body{margin-top: 15px;}
#global_page_question-moderation-index .qa_question_body .qw_edit.buttonlink{margin-top: -30px;}
.qa_like_btn,.qa_unlike_btn{display: inline-block; width: 22px; height: 22px;border-radius: 13px;}
.qa_like_btn{background: url(~/application/modules/Question/externals/images/thumbs-up.png) no-repeat 50% 50% #6192B2; background-size: 11px auto; border: 1px solid #50809b; box-shadow: inset 0px 1px 0px rgba(165, 199, 218, 0.75);}
a.qa_like_btn:hover{background-color: #517f9c;}
.qa_unlike_btn{background: url(~/application/modules/Question/externals/images/thumbs-down.png) no-repeat 50% 50% #B26060; background-size: 11px auto; border: 1px solid #9b5050; box-shadow: inset 0px 1px 0px rgba(204, 143, 143, 0.75);}
a.qa_unlike_btn:hover{background-color: #9b5151;}
.voted .qa_like_btn,
.voted .qa_unlike_btn{background-image: none;}
.voted .qa_like_btn:after, 
.voted .qa_unlike_btn:after{color: #fff; position: relative; left: -1px; font: normal 14px/21px arial;}
.voted .qa_like_btn:after{content: "+1";}
.voted .qa_unlike_btn:after{content: "-1";}
.qa_votes ul.voted-question{width: 50px; text-align: center;}
.qa_votes ul.voted-question li{display: none; float: none;}
.qa_votes ul.voted-question li.voted{display: block;}

span.qa_like_btn,
span.qa_unlike_btn{opacity: 0.75;}
.voted span.qa_like_btn,
.voted span.qa_unlike_btn{opacity: 1;}

.subscr-btn{float: right;}
.subscr-btn button 	{font-size: 12px;padding: 0.25em 0.4em;}

.qa_browse_info_date, .qtt_kudos{font-size:0.8em; color:$theme_font_color_light;}
.qa_browse_info_date.qa_browse_info_date_top,
.qa_question_body .qa_browse_info_date.qa_browse_info_date_top {margin-bottom: 3px;}
.qa_browse_info_date_top a{font-weight: bold; color: inherit;}
.qa_question_status{color: #fff; padding: 0 3px; border-radius: 3px; background: #a8c785; text-transform: capitalize; line-height: 1; font-size: 9px; font-weight: bold;}
.qa_question_status.closed-quest{background: #999;}
.qa_question_body .qa_browse_info_date {margin-bottom:10px; float: left;}
.qa_question_body .qa_browse_info_date.qa_browse_info_date_top{float: none;}
.qa-right{float: right;}
.qa_browse_options {clear:both; font-size:0.8em;float:right; position: relative;}
.qa_browse_options .qa_browse_options_links,
.manage_addition_menu{width: 30px; height: 20px; display: block; +rounded(); background: url(~/application/modules/Question/externals/images/setting.png) no-repeat 2px 50% $theme_pulldown_contents_background_color; margin-top: -25px;}
#global_page_question-index-view .manage_addition_menu{margin-top: 0;}
ul.qa_browse li .qa_browse_options .pulldown_contents_wrapper{top: -5px;}

.qa_browse_options:hover .qa_browse_options_links,
.manage_addition_menu:hover{background-position: -37px 50%; background-color: $theme_pulldown_border_color; border-bottom-left-radius: 0; border-bottom-right-radius: 0;}

.qa_browse_options .pulldown_contents_wrapper{
	display: block !important; 
	top: 20px; 
	right: 0; 
	margin-top: 0; 
	+rounded();
	border-top-right-radius: 0;  
	-webkit-transition: 0.2s linear opacity; 
	transition: 0.2s linear opacity; 
	opacity: 0;
	visibility: hidden;
}
.manage_addition_menu .pulldown_contents_wrapper{
	display: block;
	-webkit-transition: 0.2s linear opacity; 
	transition: 0.2s linear opacity; 
	opacity: 0;
	visibility: hidden;
}
.manage_addition_menu:hover .pulldown_contents_wrapper{
	opacity: 1;
	visibility: visible;
}
.qa_browse_options:hover .pulldown_contents_wrapper{
	opacity: 1; 
	visibility: visible;
}

ul.qa_browse li .qa_browse_options,
ul.qa_browse li .qa_browse_info_blurb .manage_addition_menu{
	opacity: 0;
	transition-property: opacity, background-color;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}
ul.qa_browse li:hover .qa_browse_options,
ul.qa_browse li:hover .qa_browse_info_blurb .manage_addition_menu{
	opacity: 1;
}
.qa_question_body .manage_addition_menu{
	-webkit-transition: 0.2s linear background-color; 
	transition: 0.2s linear background-color; 

}


.qa_browse_options a {clear:both; display:block!important}
.qa_browse_additional_info{float: right; clear: both;}
.qa_browse_info:after{content: ''; width: 100%; height: 1px; clear: both; display: block;}
ul.qa_browse li .qa_browse_photo{margin-right: 8px;}
ul.qa_browse li .qa_browse_photo a.qa_ownerphoto_question_model_quser{display: block; line-height: 0;}
.qa_browse_additional_info{margin: 5px 0 5px 10px;}
.qa_browse_additional_info ul{}
.qa_browse_additional_info ul li{float: left; font-weight: bold; font-size: 0.78em; color: $theme_font_color_light;}
.qa_browse_additional_info ul li a{color: $theme_font_color;}
.qa_browse_additional_info ul li + li{margin-left: 10px; padding-left: 10px; border: 1px solid $theme_border_color; border-width: 0 0 0 1px;}


.qa_question_body .qa_browse_info h3{padding-right: 45px;}
.qa_title pre,
.qa_browse_info_blurb pre{white-space: pre-wrap;}
.qa_browse_info_blurb{margin-bottom:5px;}

.qa_browse_info_blurb .qa_browse_info_date_top span{background: none; padding: 0; font-size: inherit; color: inherit;}

.qa_votes {padding:2px 0 0; float:left; text-align:center; margin-bottom:5px}
.qa_votes ul li {float:left; clear: none!important; outline: none; text-decoration: none; }
.qa_votes ul li + li{margin-left: 2px;}
.qa_votes ul li a {text-decoration:none; color: $theme_font_color;}
.qa_votes ul li img {margin-right:2px; float:left}
.qtt_kudos {background:none!important; border:0!important;  padding-top:5px!important; font-size:0.8em!important; -moz-box-shadow:none!important; -webkit-box-shadow:none!important; box-shadow:none!important;  cursor: default}
#global_page_question-index-index .layout_right, #global_page_question-index-view .layout_right, #global_page_question-index-manage .layout_right, #global_page_question-index-rating .layout_right, #global_page_question-index-create .layout_right{min-width:215px;}
.qa_points {+rounded(3px); padding:2px 5px 0; margin-right:8px; float:left; text-align:center; background:#a8c785 url(~/application/modules/Core/externals/images/foreground_bg.png); background-repeat:repeat-x; border:1px solid #8aad62; color:#fff; margin:0; min-width:23px; min-height:15px; padding:2px; margin-top:-2px}
.qa_answers {margin:10px 0; border-bottom:1px solid $theme_border_medium_color; overflow:hidden; padding:0 5px 5px; }
.qa_answers select { float:right; }
.qa_answers span {font-weight:400;}
a.qa_best_answer {color: #a8c785; font-weight: bold; display: inline-block; margin-left: 5px;}
a.qa_best_answer:hover {color: #95b473;}
span.qa_best_answer{font-weight: bold; color: #fff; background:#a8c785; border-radius: 3px; padding: 1px 4px; display: inline-block; font-size: 1.08em;}

.icon_qa_edit{background-image:url(~/application/modules/Question/externals/images/edit.png); line-height:150%;}
.icon_qa_delete{background: url(~/application/modules/Question/externals/images/delete.png) no-repeat; font-weight:bold; padding-left:21px;line-height:150%;}
.icon_qa_report{background: url(~/application/modules/Question/externals/images/report.png) no-repeat; font-weight:bold; padding-left:21px;line-height:150%;}
.icon_qa_move{background: url(~/application/modules/Question/externals/images/qa_move.png) no-repeat; font-weight:bold; padding-left:21px;line-height:150%;}
.icon_qa_viewall, .activity_icon_ge_question_new, .activity_icon_ge_choose_best, .activity_icon_ge_answer_new, .notification_type_group_answer_new, .notification_type_group_answer_new_subs {background: url(~/application/modules/Question/externals/images/questions_answers.png) no-repeat; padding-left:21px; clear:both; overflow: inherit;}
.icon_qa_reopen {background: url(~/application/modules/Question/externals/images/reopen.png); padding-left:21px; clear:both; overflow: inherit; line-height:150%;}
.result_message { display:block!important; }

.icon_question_new {background:url(~/application/modules/Question/externals/images/icon_question_new.png) 0 50% no-repeat;}
.icon_refresh {background:url(~/application/modules/Question/externals/images/icon_refresh.png);}
.icon_qa_cancel {background:url(~/application/modules/Question/externals/images/cancel.png); line-height:150%;}
.icon_qa_new {background:url(~/application/modules/Question/externals/images/add.png) no-repeat;}
.icon_qa_edit {background:url(~/application/modules/Question/externals/images/qa_edit.png) no-repeat; line-height:150%;}
span.delete_img { background:#FFFFFF; display:block; +rounded(3px); height:18px; width:18px; margin:2px; position:absolute;}
span.delete_img a {display:block; height:18px; width:18px;}
.deleteicon{background:url(~/application/modules/Question/externals/images/delete_img.png) no-repeat; width:16px; height:16px; display:block;}
div#uploaded_files_div div { float:left; margin-right:3px; max-width:90px; max-height:90px; overflow:hidden}
div#uploaded_files_div div img{max-height:90px;}
div#uploaded_files_div div span {display:block; background:#fff url(~/application/modules/Question/externals/images/delete_img.png) no-repeat 50% 50%;}

table.qa_rating { margin-left:1px; margin-bottom:15px; width:100%;}
table.qa_rating tr.rating_user td { padding:10px; font-weight:700; color:#666; font-size:12px; text-align:center;}
.qa_user_rate { width: 25px; padding-left:5px!important;}
.rating_user + .rating_user { border-top:1px solid $theme_border_color; }

.qa_right_side .global_form_box {margin-bottom:15px;}

ul.paginationControl > li.selected > span {+rounded; display:block; font-size:1em; font-weight:700; padding:0.3em 0.6em; cursor:default;}
.qa_best_a {}

div.qa_create_question div#category_id-wrapper div#category_id-label { float:left;}
div.qa_create_answer div#submit-wrapper div#submit-label { display:none; float:inherit; text-align:left;}

div.qa_create_question div.form-wrapper + button#submit {margin-top:10px;}

.layout_question_profile_questions {padding:0px;}
.notification_type_choose_best, .notification_type_answer_new , .activity_icon_question_new, .activity_icon_answer_new, .activity_icon_choose_best {background:url(~/application/modules/Question/externals/images/questions_answers.png) no-repeat;}

.qa_top_members_name{padding:0px 0 0 0px;}
.qa_top_members_name a{font-weight:700;}

.qa_create_qa .global_form > div { float:none; overflow:inherit; }
.qa_create_qa .global_form > div > div { border: 1px solid $theme_form_border_color; }
#global_page_question-index-edit textarea, #global_page_question-index-view textarea {	max-width:none !important; width:500px}
#question-element textarea { width:96%; }
#global_page_question-index-view .comments { width:80%; clear:both;}
.qa_best_a .comments .comments_options {clear:both;}
.demo-images {clear:both; overflow:hidden;}
.qa_create_qa .global_form div.form-label {display:none;}


#global_page_user-index-home .global_form div.form-label, #compose-question-body div.form-label { width:100px; text-align:right; }
#global_page_user-index-home .global_form > div > div, #compose-question-body .global_form > div > div { border:none; background:none; }

#compose-question-activator{ background:url(~/application/modules/Question/externals/images/icon_question_new.png) no-repeat 0 50%; }
#global_page_question-index-create .global_form input[type="text"]{ width:303px !important; }

#global_page_question-index-view .tip { padding:6px;}
#global_page_question-index-index .tip-wrap .tip-title,
 #global_page_question-index-view .tip-wrap .tip-title {display:block}
#global_page_question-index-view .tip-wrap .tip-title{color:$theme_font_color; font-weight: normal; padding: 10px 13px 10px 13px; background: #FAF3C6;}
#global_page_question-index-view .tip-wrap .tip-text{padding: 0 !important;}


.compose-tray .compose-menu > span {background:url(~/application/modules/Question/externals/images/icon_question_new.png) no-repeat left;}

tr.rating_user + tr.active_user, tr.active_user + tr.rating_user {border-top:none!important;}
.active_user {border-top:none;}
.active_user td { background-color: $theme_pulldown_background_color;}
.active_user td.qa_user_rate { +rounded(4px 0 0 4px);}
.active_user td.addfriend { vertical-align:top; +rounded(0 4px 4px 0); }
.qa_user_thumb{ width:48px; }
.userdata { text-align:left !important;}

#global_page_question-index-rating .addfriend {vertical-align:top;}
#global_page_question-index-rating .addfriend a {float:right; white-space:nowrap; min-height: 16px;}
#global_page_question-index-rating .addfr { background:url(~/application/modules/User/externals/images/friends/add.png) 0 50% no-repeat; }
#global_page_question-index-rating .remove { background:url(~/application/modules/User/externals/images/friends/remove.png) 0 50% no-repeat; }
#global_page_question-index-rating .addfriend { font-size:.8em;}
.title_rate {margin-bottom:5px;}
.totalpoints, .totalpoints div {clear:both; font-size:11px; color:$theme_font_color_light; font-weight:100;}
.totalpoints span{}
.rate_info {font-size:11px; color:$theme_font_color_light; font-weight:400;}
.qa_browse_photo .popularmembers_thumb{border:none;}

.layout_question_rating_user_search { margin-bottom:15px; }
.qa_point_desc {overflow:hidden; padding-left:5px; }
.layout_question_browse_search .global_form_box { margin-bottom:13px; }
.questititle { margin-bottom:10px; color:#717171; font-size:14px; font-weight:700; }
.qthumb { line-height:21px; margin-top:10px; }
.qthumb a { margin-right:5px; float:left; font-size:12px; color:#6799CA !important;	font-weight:700; }
.qthumb li { overflow:hidden; }
.paginclear { margin:5px 0px 5px 0px; clear:both; border-bottom:1px solid $theme_border_color; }
.qa-clearfix{clear: both;}
#global_page_question-index-rating .layout_middle { padding-right:1px; } 

#question_subscribe_toggle:hover { text-decoration:none; }
.qa_answers_list {float:left;}
.browsebl { float:right; display:inline; line-height:21px; font-weight:400;}
.browsebl select { margin-left:5px; float:right;}
.qa_browse_by {float:right;}
.notification_type_answer_new_comment { background: url(~/application/modules/Activity/externals/images/activity/comment.png) no-repeat 0 50%; }
.notification_type_answer_new_subs { background: url(~/application/modules/Question/externals/images/questions_answers.png) no-repeat 0 50%; }

#sbox-window { +rounded(8px);background: #eee;color: #000;border: 8px solid #444;}
.attached-images li { float: left; text-align: center; margin:0 5px 5px 0; max-width:90px; max-height:90px; overflow:hidden; border:1px solid $theme_border_medium_color; }
.attached-images li img{max-height:90px;}

#img_holder { width:auto; text-align:center; margin:0 auto; border:1px solid #0000FF; position:relative; vertical-align:middle; }
#slider_btn_left, #slider_btn_right { position: absolute; width:50%; height:100%; z-index:1; display:block; cursor:pointer; }
#slider_btn_left { left:0; background:url(~/application/modules/Question/externals/images/clean.png); outline:none; }
#slider_btn_right { right:0; background:url(~/application/modules/Question/externals/images/clean.png); outline:none;}
#slider_btn_left span, #slider_btn_right span { display:block; width:30px; height:40px; top:50%; margin-top:-20px; position: absolute; background: #444444 url(~/application/modules/Question/externals/images/qa_nav_images.png) no-repeat;}
#slider_btn_left span { left:-8px; background-position:0px 0px; display:none; }
#slider_btn_left:hover span { right:-8px; background-position:0px 0px; display:block; }
#slider_btn_left span:hover {background-position:0px -42px}
* html #slider_btn_left span, * html #slider_btn_right span { margin-top:100px; }
#slider_btn_right span { right:-8px; background-position:-36px 0px; display:none; }
#slider_btn_right:hover span { right:-8px; background-position:-36px 0px; display:block; }
#slider_btn_right span:hover {background-position:-36px -42px}

#compose-question-body #question_tbl {
	width:auto!important;
	min-width:367px;
}
#global_page_question-index-create #question_tbl, #global_page_question-index-edit #question_tbl { width:500px !important; }

.layout_question_profile_info > h3 {font-size:0.8em; letter-spacing:normal;}
.layout_question_profile_info ul {+foreground; +rounded; padding:10px;font-size:0.8em}
.layout_question_profile_info > ul > li + li {margin-top: 5px;}
.layout_question_profile_info { margin-top: 20px;}

.unsubscribe_icon {background:url(~/application/modules/Question/externals/images/unsubscribe16.png) no-repeat; padding-left:20px; padding-bottom:1px; line-height:16px;}
.subscribe_icon {background:url(~/application/modules/Question/externals/images/subscribe16.png) no-repeat; padding-left:20px; padding-bottom:1px; line-height:16px;}
.qa_addfriend_icon {background:url(~/application/modules/User/externals/images/friends/add.png) 0 50% no-repeat; }
.qa_removefriend_icon {	background:url(~/application/modules/User/externals/images/friends/remove.png) 0 50% no-repeat;}
.select_hide {display: none;}
.select_item { border: 2px dotted $theme_link_color!important;}

.manage_addition_menu{position:absolute; right:4px; top:0px; z-index: 1;}
.manage_addition_menu .pulldown_contents_wrapper{right:0; +rounded(5px 0 5px 5px); margin-top: 20px;}
.manage_addition_menu:hover .pulldown_contents_wrapper{display:block; overflow:hidden;}
.manage_addition_menu ul{list-style: none; margin: 0;padding: 0;}
.manage_addition_menu ul li a{white-space:nowrap; font-size:11px;}
.manage_addition_menu ul li a:hover{ text-decoration:none !important;}

#global_page_question-moderation-index h2,
#global_page_question-moderation-edit h2{display:inline-block;}
#global_page_question-moderation-index h2+a,
#global_page_question-moderation-edit h2+a{color: #999; font-size: 1.1em; margin-left: 15px; background-image: url(~/application/modules/Question/externals/images/bullet.png);background-repeat: no-repeat; background-position: left center; padding-left: 10px;}
.qw_edit{position: absolute; right: 10px; top: 6px; margin-left: 15px; background-image: url(~/application/modules/Question/externals/images/qa_edit.png);}
#reset_selected{position:absolute; right:0; margin-top: -14px;}
#qa_browse .comments_title{font-weight: bold; font-size: 1em; color: #999; margin-bottom: 6px; display:block;}
.mod_answer > div{background-color: #F2F2F2; background-image: none; border: none; padding: 5px; border-top: 1px solid transparent; overflow: hidden; margin-bottom: 1px;}
.qa_wrapper{position:relative;}
.mod_answer.comments{width:95% !important; margin-left: 54px;}
.layout_question_share_social {margin-top:10px;}
.layout_question_profile_questions .pulldown > a {background-image:none; padding-left:7px;}

a.qa_ownerphoto_question_model_anonymous {cursor: default; }
.qa_create_question .global_form p.description,
.qa_create_answer .global_form p.description{font-size: 7pt; padding-top: 3px; clear: both; margin-bottom: 0;}

.qa_create_answer #anonymous-element{margin: 10px 0 12px;}
.qa_create_answer #anonymous-element .description,
.qa_create_question #anonymous-element .description,
.qa_create_question .form-description{display: none;} 
.global_form div#answer-element.form-element{margin-bottom:15px; float: none;}

ul.qa_browse li .comments > ul{border-left: 2px solid $theme_border_color; padding-left: 7px;}
ul.qa_browse li .comments > ul > li{margin-bottom: 0; background: transparent; border-top: none;}
ul.qa_browse li .comments > ul > li + li{margin-top: 7px;}
ul.qa_browse li .comments .comments_author_photo img,
ul.qa_browse li .comments .qa_browse_photo img{width: 24px; height: auto;}
ul.qa_browse li .comments .comments_info{padding-left: 7px;}
ul.qa_browse li .comments .comments_author a, ul.qa_browse li .comments .comments_date a{color: $theme_font_color_light;}
ul.qa_browse li .comments .comments_author a{font-weight: bold;}
ul.qa_browse li .comments .comments_options{margin-bottom: 0;}
ul.qa_browse li .comments .comments_options span{font-weight: normal;}
.comments_post{margin-top: 5px;}

.question-tags{padding-top: 5px;}
.question-tags a{border-radius: 3px; display: inline-block; background: $theme_tabs_background_color; color: $theme_tabs_font_color; line-height: 1.2em; padding: 1px 5px; font-size: 9px; font-weight: bold;}
.question-tags a:hover{background: $theme_button_background_color; color: $theme_button_font_color;  text-decoration: none;}
.question-tags.single-question{margin-bottom: 8px;}

#global_page_question-index-manage .layout_page_question_index_manage .layout_main  .layout_middle,
#global_page_question-index-index .layout_page_question_index_index .layout_main .layout_middle,
#global_page_question-index-unanswered .layout_page_question_index_unanswered .layout_main .layout_middle{padding:10px 0 50px;}


.qa_create_question .global_form div.form-label,
#compose-question-body .global_form div.form-label{
	float: none;
	text-align: left;
}
.qa_create_question .global_form div.form-element,
#compose-question-body .global_form div.form-element{
	float: none;
}

#compose-question-body .global_form #title-label,
.qa_create_question .global_form #category_id-label,
#compose-question-body .global_form #category_id-label,
.qa_create_question .global_form #search-label,
#compose-question-body .global_form #search-label,
#compose-question-body .global_form #anonymous-element .description,
#compose-question-body #search-element, .qa_create_question #search-element{
	display: none;
}

#compose-question-body .global_form  #title-element input[type="text"],
.qa_create_question .global_form  #title-element input[type="text"],
.layout_question_browse_search #search-element input[type="text"] {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
.layout_question_browse_search #search-element input[type="text"] {margin-bottom: 15px;}

.qa_create_question .global_form #auth_view-wrapper,
.qa_create_question .global_form #auth_answer-wrapper,
#compose-question-body .global_form #auth_view-wrapper,
#compose-question-body .global_form #auth_answer-wrapper{
	float: left;
	margin-right: 15px;
}
.qa_create_question .global_form #auth_answer-wrapper,
#compose-question-body .global_form #auth_answer-wrapper{
	clear: none;
}
.qa_create_question .global_form p.description,
#compose-question-body .global_form p.description{
	font-size: 7pt;
}
#compose-question-body .global_form > div, .qa_create_answer .global_form > div, .qa_create_question .global_form > div{
	float: none !important;
}
#compose-question-body #question-element textarea{
	width: 98% !important;
	max-width: 98%;
	height: 100px;
	resize: vertical;
}

.mod_answer.comments{
	clear: both; 
	margin-top: 10px;
}
.comments_title{
	font-weight: bold;
	margin-bottom: 7px;
	display: inline-block;
	color: $theme_font_color_light;
}


html[dir="rtl"] #compose-question-activator{background-position: 100% 50%;}
html[dir="rtl"] div.qa_create_question div#category_id-wrapper div#category_id-label { display: none;}
html[dir="rtl"] .qa_votes ul li img{float: right; margin-left: 2px;}
html[dir="rtl"] .unsubscribe_icon{background-position: 100% 0; padding-left: 0; padding-right: 20px;}
html[dir="rtl"] .qa_votes,
html[dir="rtl"] .qa_votes ul li,
html[dir="rtl"] .qa_browse_photo,
html[dir="rtl"] .qa_answers_list{float: right !important;}
html[dir="rtl"] .browsebl{float: left;}
html[dir="rtl"] .manage_addition_menu{left: 4px; right: auto;}
html[dir="rtl"] .qa_browse_info{padding:0 6px;}
html[dir="rtl"]  .qa_question_body .qa_browse_info h3 {padding-left: 45px; padding-right: 0;}
html[dir="rtl"] .manage_addition_menu .pulldown_contents_wrapper{left: 0; right: auto; -moz-border-radius: 0 5px 5px 5px; -webkit-border-radius: 0px 5px 5px 5px; border-radius: 0px 5px 5px 5px;}
html[dir="rtl"] .qa-right{float: left;}
html[dir="rtl"] .qa_browse_options{float: left;}
html[dir="rtl"] .qa_browse_options .pulldown_contents_wrapper{right: auto; left: 0;}
html[dir="rtl"] .qa_browse_options:hover .qa_browse_options_links, 
html[dir="rtl"] .manage_addition_menu:hover{+rounded(); border-bottom-left-radius:0; border-bottom-right-radius:0;}
html[dir="rtl"] .qa_browse_options .pulldown_contents_wrapper{+rounded(); border-top-left-radius:0; }
html[dir="rtl"] .qa_create_question .global_form #auth_view-wrapper div.form-label,
html[dir="rtl"] .qa_create_question .global_form #auth_answer-wrapper div.form-label{float: none; text-align: right;}
html[dir="rtl"] ul.qa_browse li .comments > ul{border-right: 2px solid $theme_border_color; padding-right: 7px; border-left: 0;}
html[dir="rtl"] .comments .comments_date{margin-top: 1px; padding-right: 5px;}
html[dir="rtl"] .qa_question_body .qa_browse_info_date{float: right;}
html[dir="rtl"] .subscr-btn{float: left;}
html[dir="rtl"] .qa_question_body .qa_title{clear: both;}
html[dir="rtl"] .browsebl select{margin-right: 5px; float: left;}
html[dir="rtl"] .qa_browse_by{float: left;}
html[dir="rtl"] .attached-images{float: right;}
html[dir="rtl"] .attached-images li{float: right;}
html[dir="rtl"] .qw_edit{right: auto; left: 10px;}
html[dir="rtl"] .qa_create_question .global_form div.form-label{float: none; text-align: right;}
html[dir="rtl"] .qa_create_question .global_form #auth_view-wrapper,
html[dir="rtl"] .qa_create_question .global_form #auth_answer-wrapper{float: right; margin-right: 0; margin-left: 15px;}
html[dir="rtl"] .qa_votes ul li + li{margin-right: 2px; margin-left: 0;}
html[dir="rtl"] .manage_addition_menu .pulldown_contents ul > li,
html[dir="rtl"] .qa_browse_options .pulldown_contents ul > li{padding: 5px;}
html[dir="rtl"] .qa_create_question .global_form div#question-element.form-element{float: none;}
html[dir="rtl"] #form-upload #demo-status a.buttonlink{margin-right: 0}
html[dir="rtl"] .qa_create_question #uploaded_files_div > div{position: relative;}
html[dir="rtl"] .qa_create_question #uploaded_files_div .delete_img{left: 0;}
html[dir="rtl"] ul.qa_browse li .qa_browse_photo,
html[dir="rtl"] .qa_question_body .qa_browse_photo{margin-right: 0; margin-left: 8px;}
html[dir="rtl"] #reset_selected{right: auto; left: 0;}