@include "constants.css";

/***** fix simple site *****/
.generic_layout_container.layout_main:before,
.generic_layout_container.layout_main:after {
  display: table;
  content: " ";
}

.generic_layout_container.layout_main:after {
  clear: both;
}

/*****************************/
/******** mobile view ********/
/*****************************/
#global_content,
#core_menu_mini_menu > ul {
	margin: 0 15px;
	max-width: auto;
}

#global_content_simple .headline,
#global_content .headline {
	border-bottom: 1px solid #eee;
}



/*****************************/
/******** tablet view ********/
/*****************************/
@media (min-width: 768px) and (max-width: 991px) {
	
	#global_content,
	#core_menu_mini_menu > ul{
		padding: 0 15px;
		margin: 0 auto;
		max-width: 750px;
	}
}



/*****************************/
/******* desktop view ********/
/*****************************/
@media (min-width: 992px) and (max-width: 1199px) {

	#global_content,
	#core_menu_mini_menu > ul,
	.navbar.navbar-default {
		padding: 0 15px;
		margin: 0 auto;
		max-width: 970px;
	}
}



/*****************************/
/***** wide desktop view *****/
/*****************************/
@media (min-width: 1200px) {

	#global_content,
	#core_menu_mini_menu > ul {
		padding: 0 15px;
		margin: 0 auto;
		max-width: 1170px;
	}
}
