/*** update chat ***/
#im_container {
    z-index: 9;
}
.group_discussions_thread_options, .group_discussions_options{
	margin-bottom: 15px;
}
.layout_ynresponsiveclean_menu_footer .photo-footer-menu {
	border-top: solid 1px #777;
	background: #3e4753;
  	color: #dadada;
}

.layout_ynresponsiveclean_menu_footer .photo-footer-menu .container {
	padding-top: 15px;
	padding-bottom: 15px;
	height: 50px;
}

.layout_ynresponsiveclean_menu_footer .photo-footer-menu a {
	color: #dadada;	
}

.layout_ynresponsiveclean_menu_footer .photo-footer-menu select {
	padding: 0;
}

.layout_ynresponsiveclean_menu_footer .photo-footer-menu .custom-copyright {
	color: #dadada;	
	display: block;
}

.menu-mini-footer ul li {
	display: inline-block;
}

.menu-mini-footer ul {
	margin-bottom: 0;
}

.menu-mini-footer ul li + li:before {
	content: "-";
  	padding-right: 2px;
  	display: inline-block;
  	vertical-align: middle;
  	color: #dadada;
}

.wrap-scroll {
	position: absolute;
	right: 0;
	bottom: 0;
}

.wrap-scroll button {
	font-size: 24px;
	height: 50px;
	line-height: 50px;
	width: 50px;
	text-align: center;
	padding: 0;
}

@media screen and (max-width: 991px) {
	.layout_ynresponsiveclean_menu_footer .photo-footer-menu .container {
		height: auto;
	}
	
	.wrap-scroll {
		position: static;
		width: 50px;
		margin: 0 auto;
	}
}


/*** fix admin-core ***/
body[id^=global_page_core-admin-] .admin_language_editor textarea {
	min-height: 32px;
	overflow-y: hidden;
}

.layout_middle {
    padding-top: 10px;
}

.layout_core_container_tabs .tabs_alt>ul>li>a {
    display: initial;
}

#global_footer {
    position: relative;
    z-index: 1;
}

#global_header {
    position: relative;
    z-index: 12;
}
/**** end fix admin-core ****/

/*** issue of module advance ***/
.global_form > div > div {
    border: 1px solid transparent !important;   
}

.mce-container.mce-panel.mce-floatpanel.mce-window.mce-in .mce-window-head button,
.mce-container.mce-panel.mce-floatpanel.mce-window.mce-in .mce-container.mce-panel.mce-foot button {
    background: #5fb611;
}
/*** remove default bootstrap style ***/
label, .label { color: #555; font-weight: inherit }

body.mce-fullscreen #global_content .layout_main {
    z-index: 20;
}

.mce-tinymce.mce-container.mce-panel {
    width: auto !important;
}

/*** end remove bootstrap style ***/
html[id^=smoothbox] {
	background: transparent;
}

html, body, div, td {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}

h2, .h2,
h3, .h3 {
	font-size: 20px;
}

.headline h2 {
	font-size: 23px;
}

* {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

a, a:focus, a:hover, a:active
{
	outline: 0;

}

ul.thumbs.thumbs_album>li {
	margin: 0 15px 5px 15px;
}

/***** HEADER *****/
@media (min-width: 769px) {
	ul.nav li.dropdown:hover > ul.dropdown-menu {
	    display: block;    
	}
	ul.nav li.dropdown > ul.dropdown-menu > li:hover > ul.dropdown-menu-level-2,
	.layout_classified_menu_category > ul.dropdown-menu > li:hover > ul.dropdown-menu-level-2 {
	    display: block;    
	}
} /* hover only desktop site */

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
	color: #72c02c;
	font-size: 30px;
	padding: 0;
	line-height: 1em;
}

.nav.navbar-nav.navbar-right {
	margin-top: 10px;
}

.navbar-default {
	background: transparent;
	border: 0;
	border-radius: 0;	
	margin: 0;
	padding: 0;
}

.navbar-default .navbar-nav a {
	color: #687074;
	font-size: 15px;
	font-weight: 400;
	padding: 9px 20px;
	text-transform: uppercase;
	background: none;
}

.navbar-default .navbar-nav > li > a, 
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	background: none;
}

.navbar-default .navbar-nav > li > a {
	border-bottom: 2px solid transparent;
}

.navbar-default .navbar-nav > li.dropdown {
	display: block !important;
}

.navbar-default .navbar-nav > li:hover > a, 
.navbar-default .navbar-nav > li > a:hover {
	color: #72c02c;
	border-bottom: solid 2px #72c02c;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
	background-color: #72c02c;
	color: #fff;
	border-bottom: solid 2px #72c02c;
}
.navbar-default .navbar-nav .dropdown-menu-level-2,
.layout_classified_menu_category  .dropdown-menu .dropdown-menu-level-2 {
	position: absolute;
    top: 0;
    left: 200px;
	float: left;
	display: none;
	margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
#global_content .layout_classified_menu_category  .dropdown-menu {
	display: block;
	position: relative;
    margin-top: -18px !important;
	
}
.navbar-default .navbar-nav .dropdown-menu,
.navbar-default .navbar-nav .dropdown-menu-level-2,
.layout_classified_menu_category  .dropdown-menu,
.layout_classified_menu_category .dropdown-menu .dropdown-menu-level-2 {
	padding: 0;
	border: none;
	min-width: 200px;
	border-radius: 0;
	z-index: 9999 !important;
	margin-top: -2px !important;
	border-top: solid 2px #72c02c;
	border-bottom: solid 2px #687074;	
}
.navbar-default .navbar-nav .dropdown-menu li,
.layout_classified_menu_category  .dropdown-menu li {
	position: relative;
}
.navbar-default .navbar-nav .dropdown-menu li a,
.navbar-default .navbar-nav .dropdown-menu-level-2 li a,
.layout_classified_menu_category  .dropdown-menu li a {
	color: #687074;
	font-size: 13px;
	font-weight: 400;
	padding: 8px 15px;
	border-bottom: solid 1px #eee;
}

.navbar-default .navbar-nav .dropdown-menu > li > a:hover, 
.navbar-default .navbar-nav .dropdown-menu-level-2 > li > a:hover, 
.layout_classified_menu_category  .dropdown-menu > li > a:hover, 
.navbar-default .navbar-nav .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .dropdown-menu-level-2 > li > a:focus,
.layout_classified_menu_category  .dropdown-menu > li > a:focus {
	color: #fff;
	filter: none !important;
	background: #687074 !important;
	border-bottom: solid 1px #eee;
}

.navbar-default .navbar-nav .dropdown-menu li.active a,
.navbar-default .navbar-nav .dropdown-menu-level-2 li.active a,
.layout_classified_menu_category  .dropdown-menu li.active a,
.navbar-default .navbar-nav .dropdown-menu-level-2 li.active a:hover
.layout_classified_menu_category  .dropdown-menu li.active a:hover,
.navbar-default .navbar-nav .dropdown-menu li.active a:hover {
	background-color: #72c02c;
	color: #fff;
}

.topnav { display: none; }
#core_menu_mini_menu { padding: 5px 0 10px 0; }
#core_menu_mini_menu.collapse { display: block; }
.layout_ynresponsiveclean_mini_menu > div > ul {
	text-align: right;
}
	.layout_ynresponsiveclean_mini_menu > div > ul > li
	{
		display: inline-block;
		padding-bottom: 2px;  
	}

/**
* 	stop display text overflow because wrong position
*/
.overTxtLabel{opacity:0}

.layout_user_home_photo > div > a > img {
	min-width: 99%;
}

p.thumbs_info > span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/**
* 	stop border radius
*/
ul.generic_list_widget{
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;

}

.ybo_headline {
	display: block;
	margin: 10px 0 25px 0;
	border-bottom: 1px dotted #e4e9f0;
	overflow: visible;
}

.ybo_headline > h3, .ybo_headline > h4{
	margin-bottom:-1px;
	padding-bottom:0;
}

.layout_main .generic_list_widget{
	padding:0;
	border: 0 none;
}

.layout_main .generic_list_widget > li{
	padding: 0;
}
.layout_main .generic_list_widget > li + li{
	border-top-width: 1px;
	padding: 10px 0 0 0;	
}

form.filters input[type=text], 
form.filters input[type=email],
form.filters input[type=password], 
form.filters input.text,
form.filters select, 
form.filters textarea{
	width: 100%;
	max-width: 100%;
}

ul.forum_topic_posts .forum_topic_posts_author_photo img {
	max-width: 90%;
	max-height: none;
}

.albums_editphotos_label {
	margin-left: 5px;
}

button.event_calendar {
	margin-top: 5px;
}

ul.albums_editphotos {
	width: auto;
}

ul.albums_editphotos > li .albums_editphotos_title_input input, 
ul.albums_editphotos > li .album_editphotos_caption_input textarea {
	width: 300px;
	max-width: 100%;
}

#forum_post_create div.form-element input[type=text], 
#forum_post_create div.form-element input[type=file] {
	min-width: 0;
	max-width: 100%;
}

#messages_compose #compose-menu {
	display: inline-block;
}

ul.networks {
	width: 100%;
	max-width: 350px;
}

.networks_right {
	width: 100%;
	max-width: 380px;
}

.layout_core_html_block h3 {
	margin: 10px 0 5px 0;
}

.layout_page_footer {
	position: relative;
    z-index: 1;
}

#global_content .layout_main {
	padding-top: 15px;
}

#global_content .layout_page_core_index_index .layout_main {
	position: inherit;
}

/**** messages ****/
#messages_form_reply #compose-menu {
	display: inline-block;
}

#messages_form_reply > div {
	width: auto;
	max-width: 557px;
}

.headline .tabs span.icon-headline {
	display: none;
}

.headline span[class^=icon-] {
	display: none;
}

ul.form-errors>li, ul.form-notices>li {
	margin: 0;
	float: inherit;
}

.forum_lastpost {
	font-size: 14px;
}

/***** customize theme ynresponsive1 *****/
.polls_browse_info_title a,
.blogs_browse_info_title a,
.classifieds_browse_info_title a,
.music_browse_info_title a,
.polls_browse .polls_browse_info > a,
ul.events_browse .events_title a,
ul.groups_browse .groups_title a,
ul.classifieds_profile_tab .classifieds_profile_tab_title > a,
.layout_group_profile_groups ul .groups_profile_tab_title > a, 
.layout_group_profile_events ul .groups_profile_tab_title > a,
ul.events_profile_tab .events_profile_tab_title > a,
ul.blogs_browse li .blogs_browse_info_title, 
.video_info h3 a {
	display: block;
	padding-bottom: 5px;
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	font-weight: normal;
}

body#global_page_group-index-manage.ynresponsive1 .layout_right .global_form{
		padding: 15px;
		border: 1px solid #cecece;
}

body#global_page_group-index-manage.ynresponsive1 .layout_right .global_form #view-label{
	margin-top: 5px;
}


/*** fix album module ****/
ul.thumbs.thumbs_nocaptions > li { margin: 0 5px; }
ul.thumbs.thumbs_album_small > li { margin: 0 5px; }
ul.thumbs.thumbs_album > li { margin: 0 6px 5px 6px; }	

@media (min-width: 768px) {
	ul.thumbs.thumbs_nocaptions > li { margin: 0 5px; }
	ul.thumbs.thumbs_album_small > li { margin: 0 5px; }
	ul.thumbs.thumbs_album>li { margin: 0 6px 5px 6px; }	
}

@media (min-width: 992px) {
	ul.thumbs.thumbs_nocaptions > li { margin: 0 12px; }
	ul.thumbs.thumbs_album_small > li { margin: 0 5px; }
	ul.thumbs.thumbs_album>li { margin: 0 15px 5px 15px; }	
}

@media (min-width: 1200px) {
	ul.thumbs.thumbs_nocaptions > li { margin: 0 15px; }
	ul.thumbs.thumbs_album_small > li { margin: 0 22px; }
	ul.thumbs.thumbs_album>li { margin: 0 4px 5px 4px; }	
}

@media (max-width: 480px) {
	ul.thumbs.thumbs_nocaptions > li { 
		margin: 0; 
		width: 100%;
	}

	ul.thumbs.thumbs_nocaptions > li a,
	ul.thumbs.thumbs_nocaptions > li a span { 
		width: 100% !important;
	}

	ul.thumbs.thumbs_nocaptions > li a span { 
		height: 180px !important;
	}


}

ul.thumbs.thumbs_album_small .thumbs_photo,
ul.thumbs .thumbs_photo, 
ul.thumbs .thumbs_photo:hover {
	padding: 3px;
}

.albums_viewmedia_nav .albums_viewmedia_info_title {
	font-size: 16px !important;
	font-weight: normal !important;
}

.tab_pulldown_contents a {
	display: block;
	text-decoration: none;
}

.at4m-menu .at4m-menu-content ul li a {
	height: 52px;
}

/*** slider widget ****/
.slider-grid-main {
	position: relative;
}

.widget-photo-slide-grid > div {
	float: left;
}

.widget-photo-slide-grid .slide-element {
	padding-left: 15px;
	padding-right: 15px;
}

.widget-photo-slide-grid .slide-element .thumbnail-img .overflow-hidden {
	background: #cecece;
	/*height: 160px;*/
}

/*** fix screen ***/
@media (max-width: 640px) {
	.widget-photo-slide-grid .slide-element .thumbnail-img .overflow-hidden {
		background: #cecece;
		height: 300px;
	}
}

@media (max-width: 480px) {
	.widget-photo-slide-grid .slide-element .thumbnail-img .overflow-hidden {
		background: #cecece;
		height: 200px;
	}
}

.widget-photo-slide-grid .slide-element .ybo_eachBlogs .overflow-hidden {
	background: #cecece;
	height: 80px;
	width: 80px;
	float: left;
	margin-right: 10px;
	margin-top: 5px;
	position: relative;
}

.widget-photo-slide-grid .slide-element .ybo_eachBlogs .overflow-hidden a.photoSpan {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;

	background-position: center;
	background-size: cover;
}

.widget-photo-slide-grid .slide-element .ybo_eachBlogs .overflow-hidden a {
	margin-right: 0;
}

.widget-photo-slide-grid h3 a,
.widget-photo-slide-grid h4 a {
	color: #72c02c;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.widget-photo-slide-grid .slide-element .ybo_eachBlogs {
	padding: 0 0 10px;
}

.widget-photo-slide-grid .slide-element .ybo_eachBlogs .desc {
	overflow: visible;
}

.widget-photo-slide-grid .slide-element .ybo_eachBlogs .desc .location{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 1px;
}

.widget-photo-slide-grid .slide-element .ybo_eachBlogs .desc .location i.fa,
.widget-photo-slide-grid .slide-element .ybo_eachBlogs .desc .start i.fa{
	font-size: 14px;
	padding: 0px;
}

.widget-photo-slide-grid .slide-element .ybo_eachBlogs .desc h4 {
	font-size: 16px;
	padding-bottom: 8px;
}

.widget-photo-slide-grid .slide-element .ybo_eachBlogs .desc h4 a {
	display: block;
	float: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.widget-photo-slide-grid .slide-element .ybo_eachBlogs .username a {
	float: none;
}

.navigation_next,
.navigation_prev {
	position: absolute;
	width: 50px;
	height: 80px;
	top: 30px;
	background: #000;
	cursor: pointer;
	display: none;
}

.navigation_prev { left: 15px; }
.navigation_next { right: 15px; }
@media screen and (max-width: 768px) {
	.widget-photo-slide-grid > div {
		float: left;
		width: 50%;
	}
}

@media screen and (max-width: 640px) {
	.widget-photo-slide-grid > div {
		float: left;
		width: 100%;
	}
}


.layout_user_home_photo h3{
	font-size:20px;
	padding-bottom:2px !important;
}
.layout_advalbum_top_recent_albums h3{
	border-bottom: 2px solid #72c02c;
	display: inline-block;
}

/*** fix advance html block ***/
div[class$=advancedhtmlblock] h4 {
	border: 0;
}

div[class$=advancedhtmlblock] h4 > span {
	background: transparent;
	position: relative;
}

.layout_advancedhtmlblock ul.social-icons li {
	margin-left: 0;
}

.layout_right form[id$=filter_form],
.layout_right .filters {
	display: block;		
	padding: 15px !important;
	background: #fff;
	border: 1px solid #cecece !important;
}

/*** fix view forum in profile ***/
.layout_page_user_profile_index #forum_topic_posts li .forum_topic_posts_info_top_date {
	float: right;
	line-height: 32px;
}

.layout_page_user_profile_index #forum_topic_posts li .forum_topic_posts_info_top_parents {
	font-size: 0;
	padding-left: 0px;
}

.layout_page_user_profile_index #forum_topic_posts li .forum_topic_posts_info_top_parents a:first-child {
	font-size: 20px;
	font-family: "Open Sans",sans-serif;
}

.layout_page_user_profile_index #forum_topic_posts li .forum_topic_posts_info_top_parents a:first-child + a {
	font-size: 12px;
}

.layout_page_user_profile_index #forum_topic_posts li .forum_topic_posts_info_top_parents a:first-child + a:before {
	display: inline-block;
	content: " in ";
	width: 20px;
	text-align: center;
	color: #555 !important;
}

/***** customize theme ynresponsive *****/
ul.feed .feed_item_posted .view_more_link, 
ul.feed .feed_item_posted .view_less_link,
ul.feed .feed_item_link_desc,
ul.feed .feed_item_link_title,
ul.feed .feed_item_date,
ul.thumbs .thumbs_info,
ul.polls_browse .polls_browse_info_date,
ul.forum_topic_posts .forum_topic_posts_info_top_date,
ul.forum_topic_posts .forum_topic_posts_info_top_parents,
ul.events_profile_tab .events_profile_tab_members,
ul.classifieds_profile_tab .classifieds_browse_info_date,
ul.profile_friends .profile_friends_options a.buttonlink,
ul.classifieds_browse .classifieds_browse_info_date,
ul.generic_list_widget .stats,
ul.generic_list_widget .owner,
ul.blogs_browse > li .blogs_browse_info_date,
ul.forum_categories .forum_lastpost_info,
ul.forum_topics .forum_topics_lastpost_info,
.layout_group_profile_groups ul .groups_profile_tab_members, 
.layout_group_profile_events ul .groups_profile_tab_members,
ul.forum_topic_posts .forum_topic_posts_info_top_date,
ul.forum_topic_posts .forum_topic_posts_info_top_parents,
ul.events_profile_tab .events_profile_tab_members,
.video_author,
.layout_user_list_signups .newestmembers_date,
.layout_user_list_popular .popularmembers_friends,
.music_browse_info_date,
ul.generic_list_widget .description,
.feed_poll_rich_content .poll_option,
.feed_item_attachments .video_info>a,
.feed_item_attachments .video_desc,
blockquote p {
	font-size: .9em;
}

.feed_viewmore a {
	display: block;
	text-align: center;
	height: 32px;
	line-height: 32px;
	background: #72c02c;
	color: #fff;
}

.feed_viewmore a:hover {
	background: #5fb611;
	color: #fff;
	text-decoration: none;
}

.fb_connect.yl_twitter{display:inline-block; padding-right: 10px;}
.fb_connect.yl_facebook{display:inline-block;}

/*** toolbar_wysihtml5_body ***/
.wysihtml5_area textarea,
iframe.wysihtml5-sandbox {
    max-width: 99%;
    border: 1px solid #ddd !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
} 

.wysihtml5_area ul > li { overflow: visible !important; }

.toolbar_wysihtml5 {
  display: block;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 0;
  text-align: left;
}

.toolbar_wysihtml5 ul.commands {
    padding: 0;
    margin: 0;
    border-left: 1px solid #ddd;
    display: inline-block;
}

.toolbar_wysihtml5 ul.commands > [data-wysihtml5-command],
.toolbar_wysihtml5 ul.commands > [data-wysihtml5-action],
.toolbar_wysihtml5 ul.commands .fore-color {
  position: relative;
  border-right: 1px solid #ddd;
  background: #f6f6f6;
  background-image: linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  background-image: -o-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  list-style: none;
  font-size: 12px;
  display: block;
  cursor: pointer;
  height: 25px;
  width: 40px;
  float: left;
}

[data-wysihtml5-command]:after,
[data-wysihtml5-action]:after,
.fore-color:after {
  content: "";
  background-image: url(images/wysihtml5_toolbar_icons.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 2px;
  bottom: 0;
}

[data-wysihtml5-command]:hover,
[data-wysihtml5-action]:hover,
.fore-color:hover {
  background-image: linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
  background-image: -o-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
}

[data-wysihtml5-command="bold"]:after {
  background-position: 8px center;
}

[data-wysihtml5-command="italic"]:after {
  background-position: -63px center;
}

[data-wysihtml5-command="insertUnorderedList"]:after {
  background-position: -130px center;
}

[data-wysihtml5-command="insertOrderedList"]:after {
  background-position: -213px center;
}

[data-wysihtml5-command="formatBlock"][data-wysihtml5-command-value="h1"]:after {
  background-position: -358px center;
}

[data-wysihtml5-command="formatBlock"][data-wysihtml5-command-value="h2"]:after {
  background-position: -443px center;
}

[data-wysihtml5-command="createLink"]:after {
  background-position: -286px center;
}

[data-wysihtml5-command="insertImage"]:after {
  background-position: -528px center;
}

.fore-color:after {
  background-position: -756px center;
}

[data-wysihtml5-command="insertSpeech"]:after {
  background-position: -610px center;
}

[data-wysihtml5-action="change_view"]:after {
  background-position: -683px center;
}

.fore-color ul {
  display: none;
  position: absolute;
  z-index: 2;
  top: 25px;
  right: -1px;
  border: 1px solid #ccc;
  border-top: 0;
  background: #fff;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.fore-color li {
  display: block;
  margin: 3px;
  width: 33px;
  border: 0;
  height: 15px;
}

.fore-color li:after {
  display: none;
}

.fore-color:hover ul {
  display: block;
}

.fore-color [data-wysihtml5-command-value="silver"] {
  background: silver !important;
}


.fore-color [data-wysihtml5-command-value="gray"] {
  background: gray !important;
}

.fore-color [data-wysihtml5-command-value="maroon"] {
  background: maroon !important;
}

.fore-color [data-wysihtml5-command-value="red"] {
  background: red !important;
}

.fore-color [data-wysihtml5-command-value="purple"] {
  background: purple !important;
}

.fore-color [data-wysihtml5-command-value="green"] {
  background: green !important;
}

.fore-color [data-wysihtml5-command-value="olive"] {
  background: olive !important;
}

.fore-color [data-wysihtml5-command-value="navy"] {
  background: navy !important;
}

.fore-color [data-wysihtml5-command-value="blue"] {
  background: blue !important;
}

.fore-color .wysihtml5-command-active {
  outline: 1px solid #666;
  outline-offset: 1px;
}

.wysihtml5-commands-disabled .fore-color ul {
  display: none;
}

.wysihtml5-action-active,
.wysihtml5-command-active {
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.2);
  background: #eee !important;
}

.wysihtml5-commands-disabled [data-wysihtml5-command],
.wysihtml5-commands-disabled .fore-color {
  opacity: 0.4;
  cursor: default;
  background-image: none !important;
}

[data-wysihtml5-dialog] {
  color: #333;
  font-size: 14px;
  text-align: left;
  border-radius: 4px;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 5px 10px;
  background: #FFFBE0;
  position: absolute;
  text-align: center;
  top: 35px;
  max-width: 99%;
}

[data-wysihtml5-dialog] input {
  color: #333;
  border: 1px solid #ccc;
  padding: 3px;
  width: 100%;
}

[data-wysihtml5-dialog] input:focus {
  outline: 0;
  border: 1px solid #666;
}

[data-wysihtml5-dialog-action] {
  padding: 4px;
  color: #fff;
  cursor: pointer;
}

[data-wysihtml5-dialog-action="save"] {
  background: #007200;
}

[data-wysihtml5-dialog-action="cancel"] {
  background: #999;
}

/* Custom Work */
#global_page_core-index-index,
#global_page_user-index-home {
	.navbar-default .navbar-nav .dropdown-menu,
	.navbar-default .navbar-nav .dropdown-menu-level-2 {
		display: none;
	}
}