/*Landing Page*/
body#global_page_core-index-index{

	&.ynresponsive-event{
		.layout_core_container_tabs{
			.experience-choose-view-mode{
				margin-top: -40px;
			}
		}
	}

	&.ynresponsive-metro{
		.layout_core_container_tabs{
			.experience-choose-view-mode{
				margin-top: -35px;
			}
		}
	}


	&.ynresponsive1{
		.layout_ynresponsive1_container2{
			.experience-choose-view-mode{
				margin-top: -65px;
			}
		}
	}
}

body#global_page_user-index-home{
	&.ynresponsive1{
		.layout_ynresponsive1_container2{
			.experience-choose-view-mode{
				margin-top: -65px;
			}
		}
	}
}

body[id^=global_page_experience]{
	&.ynresponsive-metro{
		.experience-choose-view-mode{
			margin-top: -52px;
			position: relative;
			margin-right: 2px;
			z-index: 1;
		}

		.layout_core_container_tabs .experience-choose-view-mode{
			margin-top: -48px;
			margin-right: 2px;
		}
	}

	&.ynresponsive-photo{
		.experience-choose-view-mode{
			position: relative;
			z-index: 1;
			margin-top: -47px;
			margin-right: 6px;
		}

		.layout_core_container_tabs .experience-choose-view-mode{
			margin-top: -51px;
			margin-right: 2px;
		}
	}

	&.ynresponsive-event{
		.experience-choose-view-mode{
			position: relative;
			z-index: 1;
			margin-top: -54px;
			margin-right: 6px;
		}

		.layout_core_container_tabs .experience-choose-view-mode{
			margin-top: -51px;
			margin-right: 7px;
		}
	}
	
	&.ynresponsivechristmas-green,
	&.ynresponsivechristmas-red{
		
		.ybo_headline{
			padding-top: 10px;
		}
		.experience-choose-view-mode{
			position: relative;
			z-index: 1;
			margin-top: -52px;
			margin-right: 0px;
		}

		.layout_core_container_tabs .experience-choose-view-mode{
			margin-top: -50px;
			margin-right: 6px;
		}
	}


	&.ynresponsiveclean-red,
	&.ynresponsiveclean-blue,
	&.ynresponsive1{
		.experience-choose-view-mode{
			position: relative;
			z-index: 1;
			margin-top: -62px;
			margin-right: 6px;
		}

		.layout_core_container_tabs .experience-choose-view-mode{
			margin-top: -51px;
			margin-right: 0px;
		}
	}
}

/*Miss background on template responsive photo*/
body#global_page_experience-index-edit.ynresponsive-metro{
	#global_content_simple .headline, #global_content .headline{
		background: #fff;
		margin-bottom: 20px;
	}
}

body#global_page_experience-index-view.ynresponsive1{
	.layout_main{
		.layout_middle{
			padding-top: 0px;
		}
	}
}

.ynresponsive-metro{
	.experience-mode-views.experience_grid-view{
		padding: 0px;
	}
}

#experience-featured-experiences .experience-featured-experience .experience-featured-experience-info .experience-fbi-right .experience-description{
	height: 38px;
}

.layout_experience_featured_experiences #experience_navigation-slideshow
{
	z-index: 0;
}
.layout_experience_featured_experiences #experience_slideshow_container
{
	width: 100%;
	max-width: 100%;
}
.layout_experience_featured_experiences #experience_slideshow_container .slideshow
{
	width: 100%;
}
ul.generic_list_widget li.experience_new:nth-child(2n+1)
{
	clear:left;
}
ul.generic_list_widget li.experience_new
{
	height: auto;
}

.ynresponsive-metro .headline{
	padding: 15px !important;
	padding-left: 20px !important;
}

#experience_filter_form{
    input,select{
        width: 100%;
        max-width: 100%;
    }
}

#global_page_experience-import-import{
	#global_content{
		.headline{
			background: #fff;
			margin-bottom: 20px;
		}
	}
}

/*Update layout v4.09*/
body.ynresponsive-metro{
	.experience-choose-view-mode.experience-listing-count{
		margin-top: 0px;
		padding: 10px;
	}
	ul.generic_list_widget.experience-top-bloggers{
		padding: 0 10px !important;
	}
}

.experience-mode-views .experience_gridview_mode .experience-info .experience-title-desc{
	max-height: 100px;
}
.experience-mode-views .experience_gridview_mode .experience-thumb .experience-owner > span{
	bottom: -4px;
}
.experience-mode-views .experience_listview_mode .experience-info .experience-description{
	max-height: 58px;
}
#experience_filter_form{
	background-color: $theme_form_background_color;
}
.experience-view-by-date tbody tr{
	border-right-width: 1px;
}

#global_content_simple
{
	margin: 0 auto;
}

@media screen and (max-width: 991px){

	/* home page start */
	ul.experiences_browse>li
	{
		position:relative;		
	}
	ul.experiences_browse > li .experiences_browse_options
	{
		position: absolute;
		bottom: 0px;
		right: 0;
		width: auto;
	}
	ul.experiences_browse > li .experiences_browse_options>a{
		display:inline-block;
	}
	
	/*Update layout v4.09*/
	ul.generic_list_widget.experience-top-bloggers > li.experience-top-blogger{
		width: 80px;
	}
	html[dir="rtl"]{
		.layout_experience_experiences_menu{
			.headline span[class^=icon-]{
				margin-left: 0;
				margin-right: 5px;				
			}
		}
	}
}
@media screen and (min-width: 767px) and (max-width: 991px){
	.experience-mode-views .experience_gridview_mode{
		width: 50%;
	}
	html[dir="rtl"]{
		.layout_experience_experiences_menu .tabs ul.navigation li{
			margin: 0;
			text-align: right;
			a{
				padding: 0 10px;
			}
		}
	}
}
@media screen and (max-width: 768px){
	body#global_page_core-index-index.ynresponsive1 .layout_ynresponsive1_container2 .experience-choose-view-mode{
		margin-top: 0px;
	}
	body#global_page_core-index-index.ynresponsive-metro .layout_core_container_tabs .experience-choose-view-mode{
		margin-top: 10px;
	}
	body#global_page_core-index-index.ynresponsive-event .layout_core_container_tabs .experience-choose-view-mode{
		margin-top: 10px;
	}

	.layout_experience_experiences_menu .tabs .rss_icon a:before{
		top: -12px;
		font-size: 36px;
		right: 0px;
		width: 32px;
		height: 32px;
	}

	.experience-experience-detail iframe{
		width: 100% !important;
	}

	.layout_main .layout_experience_top_bloggers .generic_list_widget>li+li{
		padding-top: 0;
		border-top-width: 0;
		margin-bottom: 10px;
	}
	.layout_experience_featured_experiences .featured_experiences_img>a>img
	{
		height:auto;
	}
	.layout_experience_featured_experiences .featured_experiences_img_wrapper
	{
		display:none;
	}	
	#global_page_experience-index-manage .generic_layout_container.layout_main .layout_middle{
		position: static;
	}

	body[id^=global_page_experience]{
		.headline h2{
			width: 48%;
			margin-right: 0;
		}
	}

	/*update layout 4.09*/
	.experience-mode-views.experience-related-experiences .experience_gridview_mode{
		width: 33%;
	}
	.experience-choose-view-mode{
		margin-top: 10px !important; 
		float: none;
		clear: both;
	}
	body.ynresponsive-metro .experience-choose-view-mode{
		margin-bottom: 0px;
		margin-top: 0px;
	}
	.experience-choose-view-mode{
		margin-bottom: 0px;
		margin-top: 0px;
		margin-right: 0px;
	}
	#experience-my-entries {

		.experience-info{
			padding-right: 0px;
		}

		.experience_myentries_options{
			position: static;
			padding-left: 0;
			margin-top: 10px;
			border-left: 0;
			height: auto;
			width: 100%;
			& > span{
				display: inline-block;
				margin-right: 10px;
			}
		}
	}
	html[dir="rtl"]{
		.layout_core_container_tabs .experience-choose-view-mode{
			float: none;
			.experience-modeview-button{
				float: left;
			}
		}
		.layout_experience_experiences_menu .tabs .rss_icon a:before{
			right: auto;
			left: 0;
		}
		#experience-my-entries .experience_myentries_options{
			padding: 0;
			border: 0;
			& > span{
				margin-right: 0;
				margin-left: 10px;
			}
		}
		#experience-my-entries .experience-info{
			padding-left: 0;
			clear: both;
		}
	}
}
@media screen and (max-width: 540px){
	.experience-mode-views .experience_gridview_mode{
		width: 50%;
	}
	.experience-mode-views.experience-related-experiences .experience_gridview_mode{
		width: 50%;
	}
}
@media screen and (max-width: 480px){		
	/* home page start */
	ul.generic_list_widget li.experience_new
	{
		width:100%;
		margin:0 0 0 0;
	}
	ul.generic_list_widget li.experience_new div.info div.description
	{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.layout_experience_featured_experiences .featured_experiences_img_wrapper
	{
		display:none;
	}	
	/* home page end */
	ul.generic_list_widget li.experience_new:nth-child(2){
		border-top-width: 1px !important;
	}

	/*update layout v4.09*/
	#experience-featured-experiences .experience-featured-experience .experience-featured-experience-info .experience-fbi-right .experience-owner-views{
		display: none;
	}
	#experience-featured-experiences .experience-featured-experience .experience-featured-experience-info .experience-fbi-right .experience-description{
		height: 58px;
	}

	.experience-mode-views .experience_listview_mode{
		.experience-thumb{
			width: 100%;
			float: none;
			margin-bottom: 10px;

			.experience-mdy-listview{
				height: 150px;
			}

			a{
				width: 100%;
				height: 150px;
			}
		}
		.experience-info{
			max-height: 130px;
			height: auto;
			padding-bottom: 15px;
		}
	}

	.experience-detail-category-addthis > span{
		margin-bottom: 10px;
	}

	#experience-my-entries {

		.experience-info{
			padding-right: 0px;
			max-height: 130px;
			height: auto;
			border-bottom: none;
		}
		.experience_myentries_options{
			width: 100%;
			border-bottom: 1px solid $theme_border_color;

		}
	}
	html[dir="rtl"]{
		.experience-mode-views .experience_listview_mode .experience-info{
			clear: both;
		}
	}
}

@media screen and (max-width: 400px){
	.experience-mode-views .experience_gridview_mode{
		width: 100%;
	}
	.experience-mode-views.experience-related-experiences .experience_gridview_mode{
		width: 100%;
	}
}
@media screen and (max-width: 320px){
	/* home page start */
	.layout_experience_featured_experiences #experience_navigation-slideshow{
		height: 290px;
	}
	.layout_experience_featured_experiences #experience_navigation-slideshow ul.experience_pagination{
		top: 263px;
	}
	.layout_experience_featured_experiences .featured_experiences_img_wrapper
	{
		display:none;
	}	
	
	/* home page end */
	
}

html[dir="rtl"]{
	body[id^=global_page_experience-][class^=ynresponsivepurity-]{
        .paginationControl{
            float: left;
            & > li{
                float: right;
            }
        }
    }
    body[class^=ynresponsivepurity-]{
    	ul.experience-statistic .experience-statistic-item{
    		& > div{
    			& > div{
    				float: right;
    				margin-right: 0;
    				margin-left: 5px;
    			}
    		}
    	}
    	h2{
    		a{
    			display: inline-block;
    		}
    	}
    	.experience-mode-views .experience_listview_mode .experience-thumb a{
		    border-radius:8px 0 0 8px;
		    -webkit-border-radius: 8px 0 0 8px;
		    -moz-border-radius: 8px 0 0 8px;
    	}
    	.experience-mode-views .experience_listview_mode .experience-thumb .experience-mdy-listview{
    		border-radius: 0 8px 8px 0;
		    -webkit-border-radius: 0 8px 8px 0;
		    -moz-border-radius: 0 8px 8px 0;
    	}
    }
    .layout_experience_experience_categories > ul > li > a:before{
    	transform: rotate(180deg);
    }
    ul.global_form_box li.experience_categories_experiences a.rss_link:before{
    	transform: rotate(0deg);
    }
    ul.paginationControl > li + li > a{
    	border-left-width: 1px;
    	border-right-width: 0;
    }
    .layout_experience_experiences_menu .tabs ul.navigation li a{
    	padding-left: 0.7em;
    	padding-right: 0.7em;
    }
}


