
/* $Id: main.css 9893 2013-02-14 00:00:53Z shaun $ */



/*
FEED ITEMS
Styles items with classified attachments in the feed.
*/
ul.feed .feed_attachment_classified
{
  display: block;
  overflow: hidden;
  margin: 0px 5px 5px 0px;
  vertical-align: top;
}
html[dir="rtl"] ul.feed .feed_attachment_classified
{
  margin: 0px 0px 5px 5px;
}
ul.feed .feed_attachment_classified > div > a
{
  display: block;
  float: left;
  margin-right: 7px;
}
html[dir="rtl"] ul.feed .feed_attachment_classified > div > a
{
  float: right;
  margin-right: 0px;
  margin-left: 7px;
}
ul.feed .feed_attachment_classified > div > a > img
{
  display: inline-block;
  max-width: 90px;
  max-height: 90px;
  vertical-align: top;
}
ul.feed .feed_attachment_classified > div > div
{
  overflow: hidden;
}





/*
COMPOSE CLASSIFIED LISTING
Styles the compose classified listing form.
*/

#classifieds_create div.form-label
{
  float: none;
  text-align: left;
  margin: 0px;
  padding: 0px 0px 5px 0px;
}
html[dir="rtl"] #classifieds_create div.form-label
{
  text-align: right;
}
#classifieds_create div.form-element
{
  float: none;
}

/* ITEM TYPE ICONS */
.item_icon_classified
{
  background-image: url(~/application/modules/Classified/externals/images/types/classified.png);
}


/*
BROWSE CLASSIFIEDS
These styles are used on the browse classifieds page
*/
.browseclassifieds_criteria span.overTxtLabel
{
  color: $theme_font_color_light;
}
.browseclassifieds_criteria > ul > li + li
{
  margin-top: 7px;
}
.browseclassifieds_criteria > ul > li
{
  clear: both;
  overflow: hidden;
}
.browseclassifieds_criteria > ul > li > span
{
  display: block;
  margin-bottom: 3px;
}

ul.classifieds_browse
{
  clear: both;
}
ul.classifieds_browse > li
{
  clear: both;
  padding: 0px 0px 15px 0px;
  overflow: hidden;
}
ul.classifieds_browse > li + li
{
  padding-top: 15px;
  border-top-width: 1px;
}
ul.classifieds_browse .classifieds_browse_photo
{
  float: left;
  overflow: hidden;
  margin-right: 8px;
}
html[dir="rtl"] ul.classifieds_browse .classifieds_browse_photo
{
  float: right;
  margin-right: 0px;
  margin-left: 8px;
}
ul.classifieds_browse .classifieds_browse_photo img
{
  /* width: 100px; */
}
ul.classifieds_browse .classifieds_browse_options
{
  float: right;
  overflow: hidden;
  padding-left: 20px;
}
ul.classifieds_browse .classifieds_browse_options > a
{
  clear: both;
  display: block;
  margin: 5px;
  font-size: .8em;
  padding-top: 2px;
  padding-bottom: 2px;
}
ul.classifieds_browse .classifieds_browse_info
{
  overflow: hidden;
}
ul.classifieds_browse .classifieds_browse_info_title h3
{
  margin: 0px;
}
ul.classifieds_browse .classifieds_browse_info_date
{
  font-size: .8em;
  color: $theme_font_color_light;
}
ul.classifieds_browse .classifieds_browse_info_blurb
{
  margin-top: 5px;
}
.generic_layout_container .layout_classified_browse_search,
.generic_layout_container .layout_classified_browse_menu_quick
{
  margin-bottom: 15px;
}




/*
VIEW CLASSIFIED
Styles both the 'view classifieds' and the 'view classified listing'
pages, including the right-side gutter column by default.
*/
ul.classifieds_entrylist
{
  margin-top: 10px;
  border-top-width: 1px;
  padding-top: 10px;
}
ul.classifieds_entrylist > li
{
  padding-bottom: 10px;
}
ul.classifieds_entrylist h3
{
  margin-bottom: 1px;
}
ul.classifieds_entrylist .classified_entrylist_entry_date
{
  font-size: 8pt;
  margin-bottom: 5px;
  color: $theme_font_color_light;
}
ul.classifieds_entrylist .classified_entrylist_entry_body
{
  line-height: 1.5em;
  padding: 5px 5px 5px 0px;
}
ul.classifieds_entrylist .classified_entrylist_entry_body img
{
  max-width: 100%;
}
ul.classifieds_entrylist .classified_entrylist_entry_body + .buttonlink
{
  margin-top: 5px;
}
ul.classifieds_entrylist + .comments
{
  padding-top: 10px;
}
div.classifieds_gutter .classifieds_gutter_photo
{
  display: block;
}
div.classifieds_gutter .classifieds_gutter_photo img
{
  display: block;
  width: 98%;
}
div.classifieds_gutter .classifieds_gutter_name
{
  display: block;
  font-weight: bold;
  margin: 3px 0px 15px 0px;
  font-size: 1em;
}
div.classifieds_gutter .buttonlink
{
  padding-top: 2px;
  padding-bottom: 1px;
}
div.classifieds_gutter h4
{
  margin: 20px 0px 5px 0px;
  text-transform: uppercase;
}
div.classifieds_gutter > ul > li
{
  margin-bottom: 2px;
}
div.classifieds_gutter ul.classifieds_gutter_options > li
{
  font-size: .8em;
  margin: 3px 0px 3px 0px;
}
ul.classified_thumbs > li img
{
  max-width: 50%;
  max-height: 50%;
  margin: 15px 15px 15px 0px;
  border: 1px solid $theme_photo_border_color;
}
.classified_stats
{
  margin-bottom: 15px;
  border-bottom-width: 1px;
  padding-bottom: 10px;
}
.classified_stats > a
{
  font-weight: bold;
}
.layout_page_classified_index_view .layout_core_comments h3
{
  display: none;
}




/*
EDIT CLASSIFIED LISTING
*/
ul.classifieds_editphotos
{
  width: 600px;
}
ul.classifieds_editphotos > li
{
  padding-top: 15px;
  clear: both;
  overflow: hidden;
  padding-bottom: 15px;
}
ul.classifieds_editphotos .classifieds_editphotos_photo
{
  float: left;
  margin-right: 15px;
  overflow: hidden;
}
ul.classifieds_editphotos .classifieds_editphotos_photo img
{
  display: block;
  margin: 3px;
  width: 170px;
}
ul.classifieds_editphotos .classifieds_editphotos_info
{
  overflow: hidden;
}
ul.classifieds_editphotos .classifieds_editphotos_title_input input
{
  margin: 2px 0px 6px 0px;
  width: 25em;
}
ul.classifieds_editphotos .classifieds_editphotos_caption_input textarea
{
  margin: 2px 0px 6px 0px;
  width: 25em;
  height: 3em;
  min-height: 0px;
}
ul.classifieds_editphotos .classifieds_editphotos_label
{
  float: left;
}
ul.classifieds_editphotos .classifieds_editphotos_cover
{
  float: left;
}
ul.classifieds_editphotos .photo-delete-wrapper
{
  float: left;
  margin-right: 15px;
}
ul.classifieds_editphotos .photo-delete-wrapper > label
{
  display: block;
  float: left;
}




/*
CLASSIFIED PHOTOS UPLOAD FORM
Some minor changes to the global form.
*/
.classified_form_upload #file-label,
.classified_form_upload #submit-label
{
  display: none;
}








/*
CLASSIFIEDS USER PROFILE TAB
Styles the list of classified listings on a user's Classifieds profile tab.
*/
ul.classifieds_profile_tab > li
{
  overflow: hidden;
}
ul.classifieds_profile_tab > li + li
{
  margin-top: 10px;
  border-top-width: 1px;
  padding-top: 10px;
}
ul.classifieds_profile_tab .classifieds_profile_tab_photo
{
  float: left;
  overflow: hidden;
  margin-right: 7px;
}
html[dir="rtl"] ul.classifieds_profile_tab .classifieds_profile_tab_photo
{
  float: right;
  margin-right: 0px;
  margin-left: 7px;
}
ul.classifieds_profile_tab .classifieds_profile_tab_photo img
{
  max-width: 90px;
}
ul.classifieds_profile_tab .classifieds_profile_tab_info
{
  overflow: hidden;
}
ul.classifieds_profile_tab .classifieds_profile_tab_title > a
{
  font-weight: bold;
}
ul.classifieds_profile_tab .classifieds_browse_info_date
{
  font-size: .8em;
  color: $theme_font_color_light;
}
ul.classifieds_profile_tab .classifieds_browse_info_blurb
{
  margin-top: 7px;
}






/* ICONS */
.icon_classified_new
{
  background-image: url(~/application/modules/Classified/externals/images/create.png);
}
.icon_classified_edit
{
  background-image: url(~/application/modules/Classified/externals/images/edit.png);
}
.icon_classified_close
{
  background-image: url(~/application/modules/Classified/externals/images/close.png);
}
.icon_classified_open
{
  background-image: url(~/application/modules/Classified/externals/images/unclose.png);
}
.icon_classified_delete
{
  background-image: url(~/application/modules/Classified/externals/images/delete.png);
}
.icon_classified_photo_new
{
  background-image: url(~/application/modules/Classified/externals/images/upload.png);
}
.icon_classified_viewall
{
  background-image: url(~/application/modules/Classified/externals/images/allentries.png);
}


/* ACTION TYPE ICONS */
.activity_icon_comment_classified
{
  background-image: url(~/application/modules/Core/externals/images/types/post.png);
}



/* CUSTOM */
.classified_category_main {
	margin-left: -10px;
	margin-right: -10px;

	&:after {
		content: " "; /* Older browser do not support empty content */
		visibility: hidden;
		display: block;
		height: 0;
		clear: both;
	}

	.browse_category {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		padding: 0 10px;
		width: 33.3%;
		float: left;
		
	}

	.item-category-browser {
		margin: 10px 0;
		height: 200px;
		padding: 15px;
		border: 1px solid $theme_border_color;
		position: relative;

		.category-browser-top {
			border-bottom: 1px solid $theme_border_color;
			height: 41px;
		}

		.category_icon {
			display: block;
			vertical-align: middle;
			float: left;

			img {
				width: 40px;
				height: 40px;
			}
		}

		.category-title {
			font-size: 18px;
			font-weight: bold;
			color: $theme_link_color;
			overflow: hidden;
			line-height: 40px;

			a {
				display: block;
				padding: 0 5px 0 10px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}			
		}

		.category-stat {
			float: right;
			line-height: 40px;
		}

		.btn-toggle-more-category {
			background-color: #ccc;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 21px;
			height: 21px;
			cursor: pointer;

			background-image: url("~/application/modules/Classified/externals/images/icon-plus.png");
		}

		ul { 
			padding: 5px 10px; 

			li {
				height: 32px;
				line-height: 32px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;

				span.fa {
					margin-right: 5px;
				}

				a {
					color: $theme_font_color;
				}				
			}			
		}

		.category-more-data {
			background: $theme_border_medium_color;
			background: -moz-linear-gradient(top, $theme_body_background_color 0%, $theme_border_medium_color 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$theme_body_background_color), color-stop(100%, $theme_border_medium_color)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, $theme_body_background_color 0%,$theme_border_medium_color 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, $theme_body_background_color 0%,$theme_border_medium_color 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, $theme_body_background_color 0%,$theme_border_medium_color 100%); /* IE10+ */
			background: linear-gradient(to bottom, $theme_body_background_color 0%,$theme_border_medium_color 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$theme_body_background_color', endColorstr='$theme_border_medium_color',GradientType=0 ); /* IE6-9 */
			border: 1px solid $theme_border_medium_color;
			position: absolute;
			width: 100%;
			left: -1px;
			top: 231px;
			display: none;
			z-index: 1;

			ul { padding: 15px 25px; }
		}

		&.classified-category-expand {
			border: 1px solid $theme_link_color;

			.btn-toggle-more-category {
				background-image: url("~/application/modules/Classified/externals/images/icon-minus.png");
			}

			.category-more-data {
				display: block;
			}			
		}
	}
}

ul.classifieds-category {
	width: 100%;
	
	.classifieds-category_row:first-child {
		border: none;
	}

	.classifieds-category_row {   
		border-top: 1px solid $theme_border_medium_color;
		height: 30px;
		line-height: 30px;
		padding-left: 20px;
		
		a {
			font-weight: bold;
			display: block;
			white-space: nowrap;
			overflow: hidden
			text-overflow: ellipsis;
		}
	
		> div.active a {
			color: $theme_link_color_hover;
		}
	}

	li > div > img {
		vertical-align: middle;
		width: 16px;
		height: 16px;
	}
	
	.classifieds-category-sub-category.level_2 > div {
		padding-left: 10px;
	}
	
	.classifieds-category-sub-category.level_3 > div {
		padding-left: 40px;
	}
	
	.classifieds-category-sub-category.level_4 > div {
		padding-left: 60px;
	}
	
	.classifieds-category-collapse-control, 
	.classifieds-category-collapse-nocontrol {
		position: absolute;
		margin-left: -20px;
		width: 16px;
		height: 30px;
		cursor: pointer;
	}
	
	.classifieds-category-no-collapsed {
		background: url(~/application/modules/Classified/externals/images/collapse.png) no-repeat;
		background-position: center;
	}
	
	.classifieds-category-collapsed {
		background: url(~/application/modules/Classified/externals/images/collapse_collapsed.png) no-repeat;
		background-position: center
	}

	img.main, 
	img.thumb_normal, 
	img.thumb_profile, 
	img.thumb_icon {
		border: 0;
	}
}
.layout_classified_browse_search #filter_form select {
	max-width: 190px;
}
#global_page_classified-index-create form#classifieds_create #title-element input {
	max-width: 100%;
    width: 100%;
}
.classifieds_browse_info_category.icon a {
    color: #72C02C;
}
.addthis_inline_share_toolbox {
    padding: 10px 0px;
}
#global_page_classified-index-create #auth_view-wrapper,
#global_page_classified-index-create #auth_comment-wrapper,
#global_page_classified-index-edit #auth_view-wrapper,
#global_page_classified-index-edit #auth_comment-wrapper{
	display: none;
}